<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-6 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab heading="Home">
          <div class="card">
            <div class="card-header">
              <strong>Seance</strong>
              <small>Form</small>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="CodeProprietaire">Code Proprietaire</label>
                <input
                  type="text"
                  class="form-control"
                  id="company"
                  placeholder="Enter your Code Proprietaire"
                />
              </div>

              <div class="form-group">
                <label for="Date">Date</label>
                <input
                  type="date"
                  class="form-control"
                  id="company"
                  placeholder="Enter your Date"
                />
              </div>

              <div class="form-group">
                <label for="Duree">Duree</label>
                <input
                  type="text"
                  class="form-control"
                  id="company"
                  placeholder="Enter your  Duree"
                />
              </div>

              <div class="form-group">
                <label for="Enseignement">Enseignement</label>
                <input
                  type="text"
                  class="form-control"
                  id="company"
                  placeholder="Enter your Enseignement"
                />
              </div>

              <div class="form-group">
                <label for="Heure">Heure</label>
                <input
                  type="text"
                  class="form-control"
                  id="company"
                  placeholder="Enter your Heure"
                />
              </div>

              <div class="form-group">
                <label for="Enseignement">Enseignement</label>
                <input
                  type="text"
                  class="form-control"
                  id="company"
                  placeholder="Enter your Enseignement"
                />
              </div>

              <div class="row">
                <div class="form-group col-sm-8">
                  <label for="Code_Ressource">Code_Ressource</label>
                  <input
                    type="text"
                    class="form-control"
                    id="city"
                    placeholder="Enter your Code_Ressource"
                  />
                </div>
                <div class="form-group col-sm-4">
                  <label for="Type">Type</label>
                  <input
                    type="text"
                    class="form-control"
                    id="postal-code"
                    placeholder="Type"
                  />
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-dot-circle-o"></i> Submit
              </button>
              <button type="reset" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i> Reset
              </button>
            </div>
          </div>
        </tab>
        <tab heading="Profile">
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab heading="Messages">
          3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div>
    <!--/.col-->
    <div class="col-md-6 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-calculator"></i></ng-template>
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading
            ><i class="icon-basket-loaded"></i
          ></ng-template>
          3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i></ng-template>
          4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div>
    <!--/.col-->
    <div class="col-md-6 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading
            ><i class="icon-calculator"></i> Calculator</ng-template
          >
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading
            ><i class="icon-basket-loaded"></i> Shoping cart</ng-template
          >
          3. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading
            ><i class="icon-pie-chart"></i> Charts</ng-template
          >
          4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div>
    <!--/.col-->
    <div class="col-md-6 mb-4">
      <!-- Nav tabs -->
      <tabset>
        <tab>
          <ng-template tabHeading
            ><i class="icon-list"></i> Menu &nbsp;<span
              class="badge badge-success"
              >New</span
            ></ng-template
          >
          1. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading
            ><i class="icon-calculator"></i> Calculator &nbsp;<span
              class="badge badge-pill badge-danger"
              >29</span
            ></ng-template
          >
          2. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
        <tab>
          <ng-template tabHeading
            ><i class="icon-pie-chart"></i> Charts</ng-template
          >
          4. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </tab>
      </tabset>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>
