<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container-fluid">


  <p-dataView #dv [value]="cars" [paginator]="true" [rows]="20" paginatorPosition="both" filterBy="brand"
              [sortField]="sortField" [sortOrder]="sortOrder">
    <p-header>
      <div class="ui-helper-clearfix">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
          </div>
          <div class="ui-g-6 ui-md-4 filter-container">
            <div style="position:relative">
              <input type="search" pInputText placeholder="Search by brand" (input)="dv.filter($event.target.value)">
            </div>
          </div>
          <div class="ui-g-6 ui-md-4" style="text-align:right">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </div>
      </div>
    </p-header>
    <ng-template let-car pTemplate="listItem">
      <div class="ui-g-12">
        <div class="car-details">
          <div>
            <img src="assets/showcase/images/demo/car/{{car.brand}}.png">
            <div class="ui-g">
              <div class="ui-g-12">Vin: <b>{{car.vin}}</b></div>
              <div class="ui-g-12">Year: <b>{{car.year}}</b></div>
              <div class="ui-g-12">Brand: <b>{{car.brand}}</b></div>
              <div class="ui-g-12">Color: <b>{{car.color}}</b></div>
            </div>
          </div>
          <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, car)"></button>
        </div>
      </div>
    </ng-template>
    <ng-template let-car pTemplate="gridItem">
      <div style="padding:.5em" class="ui-g-12 ui-md-3">
        <p-panel [header]="car.vin" [style]="{'text-align':'center'}">
          <img src="assets/showcase/images/demo/car/{{car.brand}}.png" width="60">
          <div class="car-detail">{{car.year}} - {{car.color}}</div>
          <hr class="ui-widget-content" style="border-top:0">
          <button pButton type="button" icon="pi pi-search" (click)="selectCar($event, car)" style="margin-top:0"></button>
        </p-panel>
      </div>
    </ng-template>
  </p-dataView>

  <p-dialog header="Car Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '225px'}"  (onAfterHide)="onDialogHide()">
    <div class="ui-g" *ngIf="selectedCar">
      <div class="ui-g-12" style="text-align:center">
        <img src="assets/showcase/images/demo/car/{{selectedCar.brand}}.png">
      </div>
      <div class="ui-g-4">Vin: </div>
      <div class="ui-g-8">{{selectedCar.vin}}</div>

      <div class="ui-g-4">Brand: </div>
      <div class="ui-g-8">{{selectedCar.brand}}</div>

      <div class="ui-g-4">Year: </div>
      <div class="ui-g-8">{{selectedCar.year}}</div>

      <div class="ui-g-4">Color: </div>
      <div class="ui-g-8">{{selectedCar.color}}</div>
    </div>
  </p-dialog>



</div>

