<!--      MODAL DETAILS PUBLICATION       -->
<div class="container-fluid" style="max-width: 98vw;" >




<header>
  <h1 class="mat-display-2">Dashboard</h1>

  <mat-slide-toggle  [checked]="isChecked(1)" (change)="showSuccess(1)">MongoDB</mat-slide-toggle>

  <mat-slide-toggle [checked]="isChecked(2)"  (change)="showSuccess(2)">CouchDB</mat-slide-toggle>

  <mat-slide-toggle [checked]="isChecked(3)"  (change)="showSuccess(3)">Neo4j</mat-slide-toggle>

  <mat-slide-toggle [checked]="isChecked(4)"  (change)="showSuccess(4)">Cassandra</mat-slide-toggle>

  <mat-slide-toggle  [checked]="isChecked(5)"  (change)="showSuccess(5)">Redis</mat-slide-toggle>

  <mat-slide-toggle  [checked]="isChecked(6)"  (change)="showSuccess(6)">FireBase</mat-slide-toggle>

  <mat-slide-toggle  [checked]="isChecked(7)"  (change)="showSuccess(7)">Projet-Voldemort</mat-slide-toggle>




</header>

  <h2> {{showText()}}</h2>
  <p> DATA : </p>


  <mat-accordion  style="max-width: 90vw;" >

    

  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          SAUVEGARDE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
        {{data.DATA_VISUAL_TIMETABLING.SAUVEGARDE  | json}}

      </mat-form-field>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_PARAMETRES_GENERAUX        
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_PARAMETRES_GENERAUX  | json}}
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_PERIODES_NOMMEES       
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_PERIODES_NOMMEES  | json}}
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_COMPOSANTES      
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_COMPOSANTES  | json}}
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_NIVEAUX    
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_NIVEAUX  | json}}
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_DIPLOMES  
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_DIPLOMES  | json}}
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_PROFESSEURS 
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_PROFESSEURS  | json}}
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_ETUDIANTS
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_ETUDIANTS  | json}}
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_MATERIELS
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_MATERIELS  | json}}
    </mat-expansion-panel>




    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_GROUPES
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_GROUPES  | json}}
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_SALLES
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_SALLES  | json}}
    </mat-expansion-panel>




    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_MATIERES
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_MATIERES  | json}}
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_ENSEIGNEMENTS
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_ENSEIGNEMENTS  | json}}
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_SEANCES
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_SEANCES  | json}}
    </mat-expansion-panel>


    
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_TYPES_ACTIVITES
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_TYPES_ACTIVITES  | json}}
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_CODES_CNU
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_CODES_CNU  | json}}
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_TYPES_DE_SALLES
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_TYPES_DE_SALLES  | json}}
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_ZONES_DE_SALLES
        </mat-panel-title>
      </mat-expansion-panel-header>
      {{data.DATA_VISUAL_TIMETABLING.LES_ZONES_DE_SALLES  | json}}
    </mat-expansion-panel>


  </mat-accordion>
  




<!--      TABLE BUILDS        -->
<mat-divider></mat-divider><br>

<br>
<br><br>









<!--      MODAL DETAILS FAILED PUBLICATION       -->


</div>
