<!--      MODAL DETAILS PUBLICATION       -->
<div class="container-fluid">




<header>
  <h1 class="mat-display-2">Dashboard</h1>

  <mat-slide-toggle  [checked]="isChecked(1)" (change)="showSuccess(1)">MongoDB</mat-slide-toggle>

  <mat-slide-toggle [checked]="isChecked(2)"  (change)="showSuccess(2)">CouchDB</mat-slide-toggle>

  <mat-slide-toggle [checked]="isChecked(3)"  (change)="showSuccess(3)">Neo4j</mat-slide-toggle>

  <mat-slide-toggle [checked]="isChecked(4)"  (change)="showSuccess(4)">Cassandra</mat-slide-toggle>

  <mat-slide-toggle  [checked]="isChecked(5)"  (change)="showSuccess(5)">Redis</mat-slide-toggle>

  <mat-slide-toggle  [checked]="isChecked(6)"  (change)="showSuccess(6)">BigTable</mat-slide-toggle>

  <mat-slide-toggle  [checked]="isChecked(7)"  (change)="showSuccess(7)">Projet-Voldemort</mat-slide-toggle>




</header>

  <h2> {{showText()}}</h2>
  
  <mat-accordion >

  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          SAUVEGARDE
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field>
          {{ data }}
      </mat-form-field>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_PARAMETRES_GENERAUX        
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_PARAMETRES_GENERAUX  DATA </p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_PERIODES_NOMMEES       
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_PERIODES_NOMMEES DATA </p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_COMPOSANTES      
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_COMPOSANTES DATA </p>
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_NIVEAUX    
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_NIVEAUX DATA </p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_DIPLOMES  
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_DIPLOMES DATA </p>
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_PROFESSEURS 
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_PROFESSEURS DATA </p>
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_ETUDIANTS
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_ETUDIANTS DATA </p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_MATERIELS
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_MATERIELS DATA </p>
    </mat-expansion-panel>




    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_GROUPES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_GROUPES DATA </p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_SALLES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_SALLES DATA </p>
    </mat-expansion-panel>




    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_MATIERES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_MATIERES DATA </p>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_ENSEIGNEMENTS
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_ENSEIGNEMENTS DATA </p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_SEANCES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_GRADES DATA </p>
    </mat-expansion-panel>


    
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_TYPES_ACTIVITES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_TYPES_ACTIVITES DATA </p>
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_CODES_CNU
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_CODES_CNU DATA </p>
    </mat-expansion-panel>


    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_TYPES_DE_SALLES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_TYPES_DE_SALLES DATA </p>
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          LES_ZONES_DE_SALLES
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>LES_ZONES_DE_SALLES DATA </p>
    </mat-expansion-panel>


  </mat-accordion>
  




<!--      TABLE BUILDS        -->
<mat-divider></mat-divider><br>

<br>
<br><br>









<!--      MODAL DETAILS FAILED PUBLICATION       -->


</div>
