<div class="animated fadeIn">
  <!--/.row-->

  <div style="background-color:white; ">
    <div style="margin: 10px; border-top: 10px;">
      <div class="row" style="float:right; clear:right;">
        <div class="btn-group">
          <div
            class="btn btn-primary"
            onClick="window.open('//localhost:9090/swagger-ui.html#')"
          >
            Gateway
          </div>
          <div
            class="btn btn-primary"
            onClick="window.open('//localhost:8100/swagger-ui.html#')"
          >
            NoSql
          </div>
          <div
            class="btn btn-primary"
            onClick="window.open('//localhost:8100/monitoring')"
          >
            Monitor
          </div>
        </div>
      </div>

      <mwl-MyCalendar-component>Loading...</mwl-MyCalendar-component>
    </div>
  </div>

  <!--/.card-->

  <!--/.row-->
</div>
